/* Navbar */
.logo{
    position: relative;
    font-size: 2.5rem;
    margin-left: 0;
    color: var(--text-color);
    font-weight: 600;
}

.header img{
    cursor: pointer;
    margin-right: auto;
    height: 60px;
    border-radius: 50%;
}

.navbar{
    position: relative;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* Button */
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width: 100%;
}

/* About Us Section */

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.heading{
    position: relative;
    font-size: 5rem;
    margin-bottom: 7rem;
    text-align: center;
}

span{
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    background-color: var(--bg-color);
    margin-bottom: 6rem;
    margin-top: 1rem;
    width: 100%;
}

.main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.main img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.all-text h1{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 2rem;
}

.all-text h2{
    font-size: 18px;
    color: var(--text-color);
    font-weight: 550;
    margin-bottom: 1rem;
}

.all-text p{
    font-size: 16px;
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1250px){
    .about{
        width: 100%;
        height: auto;
        padding: 60px 0;
        margin-top: 6rem;
    }

    .all-text{
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1250px){
    .about .main img{
        margin-bottom: 35px;
    }

    .all-text h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
}

/* Our History Section */
.history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    background-color: var(--second-bg-color);
    padding-bottom: 12rem;
}

.timeline{
    position: relative;
    max-width: 1200px;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 6s linear forwards;
    opacity: 0;
}


.text-box{
    padding: 20px 30px;
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left{
    left: 0;
}

.right{
    left: 50%;
}

.container img{
    position: absolute;
    height: 31px;
    width: 30px;
    border-radius: 50%;
    right: -15px;
    top: 32px;
    z-index: 10;
}

.right img{
    left: -15px;
}

.text-box h2{
    font-weight: 800;
    color: var(--bg-color);
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 400;
    color: var(--bg-color);
}

.text-box p{
    font-weight: 400;
    color: var(--bg-color);
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--text-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
    animation: moveline 1s linear forwards;
}

.container:nth-child(1){
    animation-delay: 0s;
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 2s;
}

.container:nth-child(4){
    animation-delay: 3s;
}

@keyframes moveline{
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1250px){
    
    
    .history{
        padding-bottom: 12rem;
    }

    .timeline::after{
        left: 31px;
    }

    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }

    .text-box small{
        margin-bottom: 10px;
    }

    .right{
        left: 0;
    }

    .left img, .right img{
        left: 15.7px;
    }
}

/* Certification Section */
.certificate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    background-color: var(--bg-color);
    padding-bottom: 12rem;
    margin-top: 3rem;
}

.main-certi{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-certi img{
    width: auto;
    max-width: 100%;
    height: 350px;
    padding: 0 6rem;
}

.text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
    justify-content: space-around;
}

.text h1{
    font-size: 36px;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 2rem;
}

.text p{
    font-size: 16px;
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1250px){
    .certificate{
        width: 100%;
        height: auto;
        padding: 60px 0;
        margin-top: 6rem;
    }

    .text{
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1250px){
     .main-certi img{
        margin-bottom: 1rem;
    }

    .certificate{
        padding-bottom: 6rem;
    }

    .text h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
}

/* Footer */

.footer-distributed{
    background: var(--second-bg-color);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}

.footer-left img{
    width: 8rem;
    border-radius: 50%;
}

.footer-distributed .footer-links{
  color: var(--text-color);
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  var(--text-color);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: var(--text-color);
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  var(--text-color);
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: var(--text-color);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  var(--text-color);
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  var(--text-color);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-icons{
    position: relative;
    margin-top: 25px;
}

.footer-icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: -5s;
}

.footer-icons a:hover::before{
    width: 100%;
}

.footer-icons a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-icons a:hover i{
    color: var(--main-color);
}

/* Responsive */

@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 991px){
    .header{
        padding: 2rem 4%;
    }

    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }

    .footer{
        padding: 2rem 4%;
    }
}

@media (max-width: 880px) {

    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }

@media(max-width: 850px){
    .animate.home-img{
        width: 55%;
    }
}

@media(max-width: 768px){
    .header{
        background: var(--bg-color);
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        transition-delay: .25s;
        left: 0;
    }

    .navbar a{
        display: block;
        font-size: 2ren;
        margin: 3rem 0;
        transform: translateX(-28rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imgHover{
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media(max-width: 520px){
    html{
        font-size: 50%;
    }

    .home-content h1{
        display: flex;
        flex-direction: column;
    }

    .home-sci{
        width: 160px;
    }

    .home-sci a{
        width: 38px;
        height: 38px;
    }
}

@media(max-width: 462px){
    .home-content h1{
        font-size: 5.2rem;
    }

    .education{
        padding: 10rem 4% 5rem;
    }

    .contact form .input-box .input-field{
        width: 100%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}

@media(max-width: 371px){
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;
    }
}